<div class="h-screen w-screen relative bg-pink-200">
  <div class="content">
    <div class="productList">
      <h1 class="text-center font-bold text-5xl mb-36"> Product List </h1>
      <div class="items-center ml-10">
        <section class="bg-white rounded-3xl h-60 w-52 relative">
          <div class="wordCase h-1/6 w-full rounded-b-3xl absolute bottom-0 text-center">
            <p> perfect match cushion </p>
          </div>
        </section>
        <section class="bg-white rounded-3xl h-60 w-52 relative">
          <div class="wordCase h-1/6 w-full rounded-b-3xl absolute bottom-0 text-center">
            <p> pita pata lip mousse </p>
          </div>
        </section>
        <section class="bg-white rounded-3xl h-60 w-52 relative">
          <div class="wordCase h-1/6 w-full rounded-b-3xl absolute bottom-0 text-center">
            <p class="pt-1.5"> demure blush </p>
          </div>
        </section>
        <section class="bg-white rounded-3xl h-60 w-52 relative">
          <div class="wordCase h-1/6 w-full rounded-b-3xl absolute bottom-0 text-center">
            <p> logo tote bag</p>
          </div>
        </section>
        <section class="bg-white rounded-3xl h-60 w-52 relative">
          <div class="wordCase h-1/6 w-full rounded-b-3xl absolute bottom-0 text-center">
            <p> logo shirt</p>
          </div>
        </section>
      </div>
    </div>
    <div class="contacts bg-amber-500 w-screen h-36 absolute bottom-0">
      <p> Contacts </p>
    </div>
  </div>
</div>
