<div class="h-screen w-screen relative bg-better-pink">
  <div class="content">
    <div class="productList">
      <h1 class="text-center font-bold text-5xl mb-36"> Product List </h1>
      <div class="items-center ml-10">
        <section class="productBox">
          <img class="image" src="assets/images/cushion_mock-up 2.jpg" alt="cushion 1">
          <button class="wordCase">
            <p> perfect match cushion </p>
          </button>
        </section>
        <section class="productBox">
          <img class="image" src="assets/images/blush_main.jpg" alt="single blush">
          <button class="wordCase">
            <p class="pt-1.5"> demure blush </p>
          </button>
        </section>
        <section class="productBox">
          <img class="image" src="assets/images/lip_balm_mock-up.jpg" alt="lip balm">
          <button class="wordCase">
            <p> pita pata lip mousse </p>
          </button>
        </section>
        <section class="productBox">
          <img class="image" src="assets/images/tote_mock-up.jpg" alt="tote bag">
          <button class="wordCase">
            <p> logo tote bag</p>
          </button>
        </section>
        <section class="productBox">
          <img class="image" src="assets/images/tshirt_mock-up.jpg" alt="tshirt">
          <button class="wordCase">
            <p> logo shirt</p>
          </button>
        </section>
      </div>
    </div>
    <div class="contacts">
      <p> Contacts </p>
    </div>
  </div>
</div>
