<div class="page">
  <div class="h-screen w-screen relative font-poppins">
    <section class="absolute p-10" data-aos="fade-right">
      <div>
        <div class="flex flex-wrap">
          <p>아름</p>
          <p> • </p>
          <p> ahreum </p>
        </div>
      </div>
      <div>
        <p>1. the native Korean word for <i>beauty</i></p>
        <p>2. a name given to the prettiest of little ladies</p>
        <p>3. your new makeup obsession</p>
      </div>
    </section>
    <section class="absolute top-9/12 left-6/12 pr-16 text-right" data-aos="fade-left">
      <p>Founded in 2019, ahreum's mission is to provide cute, quality cosmetics to the market. With our small range of makeup, designed for many skin tones and types, you will have a new way to express your inner femininity.</p>
    </section>
  </div>
</div>
