<div class="h-screen w-screen bg-better-pink">
  <div class="h-1/2 w-1/4">
    <form (ngSubmit)="login()">
      <div>
        <label for="email">Email</label>
        <input formControlName="email"  type="email" required>
        <label for="password">Password</label>
        <input formControlName="password" type="password" required>
      </div>
      <button>Submit</button>
      <span>Don't have an account?
      <a routerLink="/createAccount">Sign Up</a></span>
    </form>
  </div>
</div>
