<div class="h-screen w-screen bg-better-pink">
  <div class="relative top-40 left-1/3">
    <form [formGroup]="accountForm" (ngSubmit)="validateNewAccount()" class="grid grid-rows-3 gap-5">
      <div class="grid grid-rows-6 gap-4">
        <section>
          <label for="email" class="mr-4">Email</label>
          <input id="email" formControlName="email" type="email" class="border-2" />
        </section>
        <section>
          <label for="password" class="mr-4">Password</label>
          <input id="password" formControlName="password" type="password" class="border-2" />
        </section>
        <section>
          <label for="firstName" class="mr-4">First Name</label>
          <input id="firstName" formControlName="firstName" type="text" class="border-2" />
        </section>
        <section>
          <label for="lastName" class="mr-4">Last Name</label>
          <input id="lastName" formControlName="lastName" type="text" class="border-2" />
        </section>
        <section>
          <label for="phoneNumber" class="mr-4">Phone Number (optional) </label>
          <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="000-000-0000" class="border-2" />
        </section>
      </div>
      <button type="submit" class="h-10 w-30 bg-white text-black rounded-xl">Submit</button>
    </form>
  </div>
</div>
