
.mainPage {
  background-image: url('https://c.tenor.com/rKdvyCJ2CeEAAAAC/flowers-wind.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
  position: relative;
}

.logo {
  display: block;
  margin: auto;
  width: 60%;
  position: absolute;
  top: 11%;
  left: 26%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {transform: scale(0.85);}
  50% {transform: scale(0.95);}
  100% {transform: scale(0.85);}
}

.fadeOut {
  animation: fade-out 1s forwards;
}

.bringBack {
  animation: bring-back 1s forwards;
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes bring-back {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


