<div class="h-screen w-screen relative bg-better-pink font-poppins">
  <div class="content grid grid-cols-2 gap-5">
    <div class="w-[400px] ml-44 relative">
      <img src="assets/images/blush_mock-up.jpg" id="blush1" class="absolute z-40"/>
      <img src="assets/images/blush_mock-up 2.jpg" id="blush2" class="absolute z-30"/>
      <img src="assets/images/blush_mock-up 3.jpg" id="blush3" class="absolute z-20"/>
      <img src="assets/images/blush_mock-up 4.jpg" id="blush4" class="absolute z-10"/>
      <img src="assets/images/blush_mock-up 5.jpg" id="blush5" class="absolute z-0"/>
    </div>
    <div class="w-[550px] relative top-8 content-center text-center" data-aos="fade-right">
      <img src="assets/images/card_mock-up.jpg" id="card" class="absolute"/>
    </div>
  </div>
</div>
